.container {
    margin-top: 70px;
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    justify-self: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.baskeEmptyLabel {
    margin-top: 30px;
    justify-self: center;
    font-weight: bold;
    font-size: 20px;
}

.stateContainer {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.totalPriceLabel {
    font-weight: bold;
    font-size: 30px;
}

.clearBasketButton {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: none;
    background-color: rgb(170, 169, 169);
    border-radius: 10px;
}

.backLink{
    margin-top: 40px;
    height: 40px;
    width: 130px;
    border: none;
    background-color: lightskyblue;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}