.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.container > p {
    margin-top: 100px;
}

.loadingStatusLabel {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}