.container{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.name{
    width: 100%;
    border: none;
    border-bottom-color: rgb(202, 233, 243);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.headerLabel{
    margin-top: 10px;
    border-bottom-color: rgb(235, 232, 232);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.review{
    margin-top: 10px;
    background-color: rgb(245, 239, 239);
    padding: 10px;
    border-radius: 10px;
}