*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container > .p{
    margin-top: 40px;
    margin-bottom: 40px;
}

.container{
    width: 80%;
    margin-top: 50px;
    justify-items: center;
    justify-self: center;
    border-radius: 10px;
    display: flow-root;
}