*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name{
    width: 100%;
    border: none;
    border-bottom-color: rgb(202, 233, 243);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.container{
    width: 80%;
    margin-top: 50px;
    justify-items: center;
    justify-self: center;
    border-radius: 10px;
    display: flow-root;
}