*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name{
    width: 90%;
    border: none;
    border-bottom-color: rgb(202, 233, 243);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.container{
    width: 64%;
    max-width: 800px;
    margin-top: 50px;
    padding: 20px;
    justify-items: center;
    justify-self: center;
    border-radius: 10px;
    display: flow-root;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}